<header>
  <% logo = image_tag("logo.png", :alt => "TRACKER") %>
  <% cylogo = image_tag("cy.jpg", :alf => "City Year", :size => "55x50") %>
  <%= link_to logo, root_path %>
  <%= link_to cylogo, root_path %>
  <div class="headernav">
		<ul>
      <li><%= link_to "Home", root_path %> </li>
      <% if signed_in? %>
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
      <% end %>
      <li><%= link_to "About", about_path %> </li>
      <li><%= link_to "Contact", contact_path %></li>
      <% if signed_in? %>
      <li><%= link_to "Log Out", logout_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to "Log In", login_path %></li>
      <% end %>
    </ul>
  </div>
</header>